.title {
    font-weight: 700;
  }

  .container {
    background: linear-gradient(45deg, #232836, #a1b8e0);
    position: fixed;
    padding-top: 15vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .login {
    background-color: #2c313c;
    justify-content: center;
    align-items: center;
  }

  .reminder {
    color: white;
  }