.wrapper {
    padding-bottom: 0px;
  }
  
  .title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
    text-align: center;
  
    @media (max-width: 768px) {
      font-size: rem(28px);
      text-align: left;
    }
  }
  
  .description {
    text-align: center;
  
    @media (max-width: 768px) {
      text-align: left;
    }
  }