.root {
    padding: calc(var(--mantine-spacing-lg) * 1.5);
  }
  
  .value {
    font-size: rem(24px);
    font-weight: 700;
    line-height: 1;
  }
  
  .diff {
    line-height: 1;
    display: flex;
    align-items: center;
  }
  
  .icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
  }
  
  .title {
    font-weight: 700;
    text-transform: uppercase;
  }

  .paper {
    background-color: #2c313c;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-color: transparent;
  }

  .mainContainer {
    padding: 1rem;
    margin-left: calc(300px + 1rem);
  }

  .dashTitle {
    margin-left: 30px;
  }

  .charts {
    display: flex;
    justify-content: center;
    background-color: #2c313c;
    margin-inline: rem(450px);
    padding-top: 20px;
    padding-bottom: 25px;
    padding-inline: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  .areaChart{
    margin-top: 20px;
    background-color: #2c313c;
    margin-inline: rem(50px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 5px;
  }

  .areaChartTitle{
    margin-left: 25px;
  }