.main {
    align-items: center;
    text-align: center;
    padding: 6rem;
    min-height: 100vh;
    background-color: #232836;
    background: linear-gradient(0deg, #641414, #232836);
}

.container {
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 75px;
}

.formContainer {
    opacity: 0;
    display: flex;
    transition: opacity 0.5s ease-in-out;
    align-items: center;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

.separator {
    height: 2px;
    margin-inline: 20px;
    padding-inline: 20px;
}

.herobutton {
    margin-top: 13vw;
    margin: 0 5px;
}

.select {
    max-width: 30vw;
    margin: 0 auto;
    margin-top: 75px;
}

.label {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonContainer .button {
    margin: 0 5px;
}

.inputLarge {
    width: 30vw;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 75px;
}

.formArea {
    border-radius: 10px;
    margin: 0 auto;
    max-width: 35vw;
}

.slider {
    width: 30vw;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 75px;
}

.text {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    
}

.sliderArea {
    
}