.main {
    align-items: center;
    text-align: center;
    padding: 6rem;
    min-height: 100vh;
    background-color: #232836;
    background: linear-gradient(0deg, #641414, #232836);
}

.container {
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 75px;
}

.formContainer {
    opacity: 0;
    display: flex;
    transition: opacity 0.5s ease-in-out;
    align-items: center;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

.separator {
    height: 2px;
    margin-inline: 20px;
    padding-inline: 20px;
}

.button {
    margin-top: 13vw;
}

.select {
    margin-top: 75px;
    max-width: 30vw;
}