.mainContainer {
    padding-inline: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-top: 25px;
}

.cardSpace {
    display: inline-block;
    flex: 1;
    margin: 10px;
}